
{{block jsscript}}
<script type="text/javascript">
$('#cc').combobox({
    url:'/menus/get_parent',
    valueField:'id',
    textField:'catname',
    //当数据加载成功，默认选择value为0的选项
    onLoadSuccess: function() {
        $('#cc').combobox('select','0');
    },

    onSelect: function(record) {
        //当选择父菜单为"无"的时候，地址这一栏不允许填写
        if (record.id == 0){
            $('#url').textbox('readonly');
            $('#url').textbox('setText','父菜单是没有url的');
        } else{
            $('#url').textbox('readonly',false);
            var url = $('#url').textbox('getValue');
            $('#url').textbox('setText',url);

        }

    },
});
$(function(){
	$("#cancel").on("click", function(){
		$("#win").window("close");
	});

    $("#save").on("click", function(){
        $('#ff').form('submit',{
            url:'/menus/save',
            onSubmit: function(){
//                 点击提交时的验证
                return $(this).form('enableValidation').form('validate');
            },
            success:function(data){
                //json解析成js对象
                var data = jQuery.parseJSON(data);
                if (data.returncode=="200"){
//                    $parent.messager.alert("提示",data.message, "info");
                    $("#win").window("close");
                    $.messager.alert("提示",data.message, "info");
                    $('#tt').datagrid('reload');
                }else{
                    $.messager.alert("错误",data.message, "error");

                }
            }
        });
    });
})
</script>
{{end}}

{{block body}}
<form id="ff" method="post">
<table style="margin-top: 10px;margin-left: 42px">
    <tr>
        <td align="right" >菜单名称:</td>
        <td >
            <input class="easyui-textbox" type="text" name="catname" data-options="required:true" style="width: 140px"/>
        </td>
    </tr>
    <tr>
        <td align="right">父菜单:</td>
        <td>
            <input id = 'cc' name="parentid" style="width:140px;" />

        </td>

    </tr>
    <tr>
        <td align="right">菜单url:</td>
        <td><input id = 'url' class="easyui-textbox" type="text" name="url"  /></td>
    </tr>
    <tr>
        <td align="right">是否显示:</td>
        <td>
            <select class="easyui-combobox" name="isshow" style="width:140px;" data-options="panelHeight:'auto'">
                <option value="1">显示</option>
                <option value="0">不显示</option>

            </select>
        </td>

    </tr>
</table>
</form>
<div class="windowButton" >
     <a id="save" class="easyui-linkbutton my-dialog-button" plain="true" icon="icon-ok" href="javascript:void(0)" >保存</a>
     <a id="cancel" class="easyui-linkbutton my-dialog-button" plain="true" icon="icon-cancel" href="javascript:void(0)" >取消</a>
</div>
{{end}}