{{extend "base.html"}}
{{block javascript}}
<script type="text/javascript">
    function getjson(id) {
        $.getJSON('getadmin_json/' + id, function (data) {
            $('#pwdtr').remove();
            $('#pwd2tr').remove();
            $('#ff').form('load', data);
            //其他操作
        });

    }
//$(function() {
    $(window).load(function() {
    $('#tt').datagrid({
        url: 'getlist',
        method: 'get',
        idField: 'id',
        singleSelect: false,
        nowrap: true,
        fitColumns: false,
        //自适应宽度
        rownumbers: false,
        //显示行号
        pagination: false,
        //是否显示底部分页栏
        showPageList: true,
        remoteSort: false,
        //是否从服务器排序数据
        showFooter: true,
        pageSize: 10,
        toolbar: '#tt_btn',
        columns: [[{
            field: 'ck',
            checkbox: true
        },
            {
                field: 'Username',
                title: '账号',
                width: 150,
                sortable: true
            },
            {
                field: 'Email',
                title: '邮箱地址',
                width: 200,
                sortable: true
            },
        ]],

        onLoadSuccess: function () {
            //获取菜单总数
            rows = $('#tt').datagrid('getRows');
            count = rows.length;
            $("#tt_btn_info span").text(count);
        },

    });

    var $parent = self.parent.$;


    $("#save").on("click", function () {
        $('#ff').form(
            'submit', {
                url: 'save',
                onSubmit: function () {
//                 点击提交时的验证
                    return $(this).form('enableValidation').form('validate');
                },
                onLoadSuccess: function (data) {
//                    alert(data);
                },
                success: function (data) {
                    //json解析成js对象
                    var data = jQuery.parseJSON(data);
                    if (data.returncode == "200") {
//                    $parent.messager.alert("提示",data.message, "info");
                        $("#dlg").dialog("close");
                        $.messager.alert("提示", data.message, "info");
                        $('#tt').datagrid('reload');
                    } else {
                        $.messager.alert("错误", data.message, "error");

                    }
                }
            });
    });
        $("#save_pwd").on("click", function () {
            $('#ff_pwd').form(
                'submit', {
                    url: 'savepassword',
                    onSubmit: function () {
//                 点击提交时的验证
                        return $(this).form('enableValidation').form('validate');
                    },
                    onLoadSuccess: function (data) {
//                    alert(data);
                    },
                    success: function (data) {
                        //json解析成js对象
                        var data = jQuery.parseJSON(data);
                        if (data.returncode == "200") {
//                    $parent.messager.alert("提示",data.message, "info");
                            $("#dlg_pwd").dialog("close");
                            $.messager.alert("提示", data.message, "info");
//                            $('#tt').datagrid('reload');
                        } else {
                            $.messager.alert("错误", data.message, "error");

                        }
                    }
                });
        });


        $("#cancel").on("click", function () {
            $("#dlg").dialog("close");
        });
        $("#cancel_pwd").on("click", function () {
            $("#dlg_pwd").dialog("close");
        });

        //新增
        $("#add").on("click",
            function () {
                $('#dlg').dialog('open').dialog('center').dialog('setTitle','新增管理员');
                $('#ff').form('reset');
//                $('#ff').form('load','get_all_defalut');
//                $('#ff').form('load',form_defalut);
//                get_data('add',0);
            });
        //修改
        $("#update").on("click",
            function () {

                var rows = $('#tt').datagrid('getSelections');
                if (rows.length == 1) {
                    row = rows[0];
                    $('#dlg').dialog('open').dialog('center').dialog('setTitle','修改信息');
                    getjson(row.id);
                } else {
                    $.messager.alert("提示", "必须选择一条且只能选择一条", "error")

                }
            });
        //修改密码
        $("#update_pwd").on("click",
            function () {

                var rows = $('#tt').datagrid('getSelections');
                if (rows.length == 1) {
                    row = rows[0];
                    $('#dlg_pwd').dialog('open').dialog('center').dialog('setTitle','修改密码');
                    $('#ff_pwd').form('reset');
                    $('#ff_pwd').form('load', {'id':row.id});
                } else {
                    $.messager.alert("提示", "必须选择一条且只能选择一条", "error")

                }
            });
        //删除
        $("#delete").on("click",
            function () {
                var ids = [];
                var rows = $('#tt').datagrid('getSelections');
                if (rows.length < 1) {
                    $.messager.alert("提示", "请选择你要删除的数据", "error")
                    return
                }
                for (var i=0; i<rows.length; i++){
                    ids.push(rows[i].id)
                }
                $.messager.confirm('提醒','你确实这删除这'+ids.length+'条记录吗?', function (r) {
                    if (r){
                         $.post('delete', {
                             'id[]': ids
                         }, function (data) {
                            if (data.returncode == "200") {
    //                          $parent.messager.alert("提示",data.message, "info");
                                $.messager.alert("提示", data.message, "info");
                                $('#tt').datagrid('reload');
                            } else {
                                $.messager.alert("错误", data.message, "error");
                            }
                         }, 'json').fail(function (jxhr, status, error) {
                            alert('error: ' + status + ':' + error)
                        });
                    }
                    
                })
            });
        //刷新
        $("#reload").on("click",
            function () {
                $('#tt').datagrid('reload');
                $parent.messager.alert("提示", "刷新成功!", "info");
            });
});
</script>
{{end}}
{{block css}}
<style>
    #tt_btn_info{
            float: right;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    margin: 0 6px 0 0;
    padding: 0;
    }
</style>
{{end}}

{{block body}}
<body class="easyui-layout" >
<table id="tt"></table>
<div id="tt_btn">
    <a href="javascript:void(0)"  id="add" class="easyui-linkbutton" iconCls="icon-add" plain="true">新增</a>
    <a href="javascript:void(0)"  id="update" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
    <a href="javascript:void(0)"  id="update_pwd" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改密码</a>
    <a href="javascript:void(0)"  id="delete" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
    <a href="javascript:void(0)"  id="reload" class="easyui-linkbutton" iconCls="icon-reload" plain="true">刷新</a>

    <div id="tt_btn_info">
        共有 <span>0</span> 条信息
    </div>
</div>
<div id="dlg" class="easyui-dialog" style="width:auto;height:230px;buttons="#dlg-buttons" data-options="closed:true,cache:false">
<form id="ff" method="post" style="height: auto">
<table style="margin-top: 10px;margin-left: 0px;width:auto">
    <input type="hidden" name="id" >
    <tr>
        <td align="right" style="width: 100px">用户名:</td>
        <td style="width: 350px">
            <input class="easyui-textbox" type="text" name="Username" data-options="required:true,validType:['account[3,12]',]"  style="width: 200px"/>
        </td>

    </tr>
    <tr id="pwdtr">
        <td align="right">密码:</td>
        <td>
            <input class="easyui-textbox" type="password" name="Password" id="Password" data-options="required:true,validType:['length[6,18]',]" invalidMessage="密码长度必须在6到18位之间" style="width: 200px"/>
        </td>

    </tr>
    <tr id="pwd2tr">
        <td align="right">再次输入密码:</td>
        <td>
            <input class="easyui-textbox" type="password" name="Password2" id="Password2" data-options="required:true" validType="equalTo['#Password']" invalidMessage="两次输入密码不一致" style="width: 200px"/>
        </td>

    </tr>
    <tr>
        <td align="right">联系邮箱:</td>
        <td>
            <input class="easyui-textbox" type="text" name="Email"  style="width: 200px"/>
        </td>
    </tr>
</table>
</form>
<div class="windowButton" id="dlg-buttons" style="right:171px">
     <a id="save" class="easyui-linkbutton my-dialog-button" plain="true" icon="icon-ok" href="javascript:void(0)" >保存</a>
     <a id="cancel" class="easyui-linkbutton my-dialog-button" plain="true" icon="icon-cancel" href="javascript:void(0)" >取消</a>
</div>

<div id="dlg_pwd" class="easyui-dialog" style="width:auto;height:150px;buttons="#dlg-buttons" data-options="closed:true,cache:false">
<form id="ff_pwd" method="post" style="height: auto">
    <table style="margin-top: 10px;margin-left: 0px;width:auto">
        <input type="hidden" name="id" >
        <tr id="pwdtr">
            <td align="right" style="width: 100px">密码:</td>
            <td style="width: 300px">
                <input class="easyui-textbox" type="password" name="Password" id="Password_pwd" data-options="required:true,validType:['length[6,18]',]" invalidMessage="密码长度必须在6到18位之间" style="width: 200px"/>
            </td>

        </tr>
        <tr id="pwd2tr">
            <td align="right">再次输入密码:</td>
            <td>
                <input class="easyui-textbox" type="password" name="Password2" id="Password2_pwd" data-options="required:true" validType="equalTo['#Password_pwd']" invalidMessage="两次输入密码不一致" style="width: 200px"/>
            </td>

        </tr>
    </table>
</form>
<div class="windowButton" id="pwd-buttons" style="right:146px">
    <a id="save_pwd" class="easyui-linkbutton my-dialog-button" plain="true" icon="icon-ok" href="javascript:void(0)" >保存</a>
    <a id="cancel_pwd" class="easyui-linkbutton my-dialog-button" plain="true" icon="icon-cancel" href="javascript:void(0)" >取消</a>
</div>
</body>
{{end}}
